/* * {
    margin: 0;
    padding: 0;
} */

.navbar-brand {
    height: 50px!important;
} 

.navbar {
    background-color: white !important;

}

.nav-link {
    color: #015a06 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-quote {
    background-color: #015a06 !important ;
    color: white !important;
}

.font_icons {
    color: white !important;
}

.dropdown-menu> a:hover {
    color: red;
}

.hover_class {
    color: red !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
}

.angle-right {
    position: relative;
    margin-right: 100% !important; 
}